@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --bg-first-color:rgb(229, 234, 235);
    --bg-second-color: rgb(27, 3, 184);

    --text-first-color: rgb(104, 116, 247);
    --text: black;
}


section {
    height: 100vh;
}

button:focus,
.navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
}

.menu_wrapper {
    background-color: var(--bg-first-color);
    font-family: "Montserrat", sans-serif;
    padding: 15px 0;
}

.menu_wrapper .navbar-brand {
    font-size: 40px;
    font-weight: 700;
    background: -webkit-linear-gradient(rgb(12, 191, 241), rgb(27, 3, 184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_wrapper .navbar-brand:hover {
    color: var(--text-first-color);
}

.menu_wrapper .navbar-nav .nav-item {
    margin: 0 10px;
}

.menu_wrapper .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    display: inline-block;
}

.menu_wrapper .dropdown-menu .dropdown-item {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.menu_wrapper .dropdown-menu .dropdown-item:hover {
    color: var(--text-first-color);
}

.menu_wrapper .dropdown-mega .dropdown-menu {
    width: 100%;
}

.menu_wrapper .dropdown-mega h5 {
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(135, 133, 133);
    margin: 0;
}

.menu_wrapper .list-group-item {
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 12px 0;
}

.menu_wrapper .list-group-item:hover {
    color: var(--text-first-color);
}

.menu_wrapper .btn {
    background-color: var(--text-first-color);
    color: black;
}

.menu_wrapper .btn:hover {
    background-color: var(--bg-second-color);
    color: white;
} 

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.438)), url(book.jpg);
    background-position: center;
    background-size: cover;
}

#hero h5 {
    font-size: 33px;
}

#hero .btn-brand {
    background-color: var(--bg-second-color);
    color: white;
    font-size: 25px;
    font-weight: 600;
}

#hero .btn-brand:hover {
    background-color: rgb(54, 68, 220);
}

.fa-arrow-right {
    font-size: 20px;
    margin-left: 12px;
}

@media (max-width: 1199px) {
    .menu_wrapper .navbar-nav .nav-link {
        font-size: 15px;
    } 
}

@media (max-width: 991px)  {
    .menu_wrapper .navbar-brand {
        font-size: 30px;
    }

    .menu_wrapper .navbar-nav .nav-item {
        margin: 5px 10px;
    }

    .menu_wrapper form {
        margin: 30px 0;
    }

    #hero h5 {
        font-size: 26px;
        margin: 0 10px;
    }
}