@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=IBM+Plex+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(images.jpg);
    background-size: cover;
    background-position: center;
}

  /*Navigation*/ 
.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 380px 15px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 2px 3px white;
}

.nav .navLinks {
    display: flex;
    align-items: center;
}

.nav a {
    color: black;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 30px;
}

.nav .logo {
    font-size: 45px;
    font-weight: 900;
}

.nav .logo span {
    color: rgb(26, 26, 146);
}

.navLinks li {
    list-style: none;
}

.navLinks li a:hover {
    color: rgb(2, 2, 223);
}

  /*Dropdown menu*/
.dropDown {
    position: absolute;
    width: 250px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background: white;
    box-shadow: 0 16px 10px black;
    border-top: 3px solid rgb(3, 3, 99);
}

.dropDown li {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navLinks li:hover .dropDown,
.navLinks li:hover .megaMenu {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

  /*Mega menu*/
.megaMenu {
    position: absolute;
    width: 100%;
    left: 100px;
    top: 0;
    padding: 0 200px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.megaMenu li {
    font-size: 22px;
    padding-top: 2px;
}

.megaMenu .conteiner {
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0 16px 10px black;
    border-top: 3px solid rgb(3, 3, 99);
}

.megaMenu  h2 {
    color: rgb(3, 3, 99);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-left: 27px;
}

.megaLinks li a:hover {
    color: rgb(2, 2, 223);
}

.nav .bx-chevron-down {
    font-size: 25px;
    transition: all 0.3s ease;
}

.nav li:hover .bx-chevron-down {
    transform: rotate(180deg);
}

  /*Search box*/
.searchToggle {
    display: flex;
    align-items: center;
}

.searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.searchToggle i {
    position: absolute;
    color: black;
    font-size: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .searchText {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 450px;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0 5px 5px grey;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .searchText {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.searchText input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.searchText i {
    position: absolute;
    color: black;
    right: 15px;
    font-size: 22px;
}

.searchText::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: black;
    transform: rotate(-45deg);
    z-index: -1;
}

  /*Header*/
.text {
    position: absolute;
    left: 2%;
    top: 30%;
}

.text h3 {
    font-size: 80px;
    font-weight: 300;
    padding-bottom: 40px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    text-shadow: 2px 2px 2px white;
}

.text h4 {
    font-size: 75px;
    font-weight: 500;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    text-shadow: 2px 2px 2px white;
}

p {
    position: absolute;
    left: 70%;
    top: 300px;
    font-size: 35px;
    color:white;
    text-align: right;
}

  /*Heart, alt, user*/
.heartAltUser {
    font-size: 28px;
    cursor: pointer;
    display: flex;
    list-style: none;
}

.heartAltUser li {
    margin: 3px;
}

.heartAltUser li:nth-child(1) i:hover {
    color: red;
}

.heartAltUser li:nth-child(2) i:hover {
    color: rgb(6, 207, 6);
}

.heartAltUser li:nth-child(3) i:hover {
    color: rgb(214, 10, 214);
}

/*Social media*/
.socialMedia {
    margin-top: 20px;
    position: absolute;
    left: 3%;
    top: 580px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    list-style: none;
}

.socialMedia li i {
    font-size: 40px;
    color: white;
    padding: 5px;
}

.socialMedia li:nth-child(1) i:hover {
    color: rgb(46, 46, 226);
}

.socialMedia li:nth-child(2) i:hover {
    color: rgb(0, 195, 255);
}

.socialMedia li:nth-child(3) i:hover {
    color: rgb(40, 39, 39);
}

.socialMedia li:nth-child(4) i:hover {
    color: #cc2366;
}


